{% extends 'main/main.html' %}
{% block content %}
    <section id="products" class="my-5 py-5">
        <div class="container text-center mt-5 py-5">
            <h2>Category "{{ catName }}"</h2>
        </div>


        <div class="row mx-auto  container-fluid">


            {% for product in productData %}
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    {% if product.discount > 0 %}
                        <div class="sale-top">
                            Sale
                        </div>
                    {% endif %}
                    {# show if image is present #}
                    {% if product.image %}
                        <img onclick="window.location.href='{% url 'product-detail' product.slug %}';"
                             class="img-fluid mb-3 pro-img" src="{{ product.image.url }}" alt="">
                    {% endif %}
                    <div onclick="window.location.href='{% url 'product-detail' product.slug %}';" class="desc">
                        <h5>{{ product.name }}</h5>
                        <div class="star">
                            {{ product.avg_rating }} <i class="fas fa-star"></i> | ({{ product.total_review }})
                        </div>
                        {% if product.discount > 0 %}
                            <div class="style-1 mt-2">
                                <del>
                                    <span class="amount">Rs.{{ product.price|floatformat:0 }}</span>
                                </del>
                                <ins>
                                    <span class="amount">Rs.{{ product.dis_price|floatformat:0 }}</span>
                                </ins>
                            </div>
                        {% else %}
                            <h4>Rs.{{ product.price|floatformat:0 }}</h4>
                        {% endif %}
                    </div>
                    <a href="{% url 'product-detail' product.slug %}" type="button" class="btn btn-primary buy-btn">View
                        More</a>
                </div>
            {% endfor %}


        </div>


        <nav aria-label="..." class="d-flex justify-content-center">
            <ul class="pagination pagination-lg">
                {# checking if previous page is present #}
                {% if productData.has_previous %}
                    <li class="page-item ">
                        <a class="page-link" href="?page={{ productData.previous_page_number }}"
                           tabindex="-1">Previous</a>

                    </li>
                {% endif %}

                {# creating loop to iterate over number of pages #}
                {% for page_number in productData.paginator.page_range %} {# page_range tot pages [1,2,3] #}
                    {# finding the current page#}
                    {% if productData.number == page_number %}
                        <li class="page-item active">
                            <a class="page-link" href="#">{{ page_number }}</a>
                        </li>
                    {% else %}
                        <li class="page-item ">
                            <a class="page-link" href="?page={{ page_number }}">{{ page_number }} </a>
                        </li>

                    {% endif %}
                {% endfor %}

                {# checking if next page is present #}
                {% if productData.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ productData.next_page_number }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>


    </section>

{% endblock %}