{% extends 'main/main.html' %}
{% block content %}

    <section id="hero">
        <h4>Best Products</h4>
        <h2>Super Value Price</h2>
        <h1>On All Products</h1>
        <p>Save money and buy the best</p>
        <button>Show Now</button>
    </section>

    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="img/features/f1.png" alt="none">
            <h6>Online Payment</h6>
        </div>

        <div class="fe-box">
            <img src="img/features/f2.png" alt="none">
            <h6>Free Shipping</h6>
        </div>

        <div class="fe-box">
            <img src="img/features/f3.png" alt="none">
            <h6>Special Deals</h6>
        </div>

        <div class="fe-box">
            <img src="img/features/f4.png" alt="none">
            <h6>Free Shipping</h6>
        </div>

    </section>

    <section id="products" class="my-5 pb-5">
        <div class="container text-center  py-5">
            <h2>Latest Products</h2>
        </div>
        <div class="row mx-auto  container-fluid">

            {% for product in productData|slice:":8" %} {#display only 8 products#}
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    {% if product.discount > 0 %}
                        <div class="sale-top">
                            Sale
                        </div>
                    {% endif %}
                    {# show if image is present #}
                    {% if product.image %}
                        <img onclick="window.location.href='{% url 'product-detail' product.slug %}';"
                             class="img-fluid mb-3 pro-img" src="{{ product.image.url }}" alt="">
                    {% endif %}
                    <div onclick="window.location.href='{% url 'product-detail' product.slug %}';" class="desc">
                        <h5>{{ product.name }}</h5>
                        <div class="star">
                            {{ product.avg_rating }} <i class="fas fa-star"></i> | ({{ product.total_review }})
                        </div>
                        {% if product.discount > 0 %}
                            <div class="style-1 mt-2">
                                <del>
                                    <span class="amount">Rs.{{ product.price|floatformat:0 }}</span>
                                </del>
                                <ins>
                                    <span class="amount">Rs.{{ product.dis_price|floatformat:0 }}</span>
                                </ins>
                            </div>
                        {% else %}
                            <h4>Rs.{{ product.price|floatformat:0 }}</h4>
                        {% endif %}
                    </div>
                    <a href="{% url 'product-detail' product.slug %}" type="button" class="btn btn-primary buy-btn">View
                        More</a>
                </div>
            {% endfor %}


        </div>

        <a href="{% url 'new-arrivals' %}">
            <p class="bottom-btn">View more</p>
        </a>


    </section>

    <section id="products" class="my-5 pb-5">
        <div class="container text-center  py-5">
            <h2>Best Clothing</h2>
        </div>
        <div class="row mx-auto  container-fluid">
            {% for product in clothingData|slice:":8" %} {#display only 8 products#}
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    {% if product.discount > 0 %}
                        <div class="sale-top">
                            Sale
                        </div>
                    {% endif %}
                    {# show if image is present #}
                    {% if product.image %}
                        <img onclick="window.location.href='{% url 'product-detail' product.slug %}';"
                             class="img-fluid mb-3 pro-img" src="{{ product.image.url }}" alt="">
                    {% endif %}
                    <div onclick="window.location.href='{% url 'product-detail' product.slug %}';" class="desc">
                        <h5>{{ product.name }}</h5>
                        <div class="star">
                            {{ product.avg_rating }} <i class="fas fa-star"></i> | ({{ product.total_review }})
                        </div>
                        {% if product.discount > 0 %}
                            <div class="style-1 mt-2">
                                <del>
                                    <span class="amount">Rs.{{ product.price|floatformat:0 }}</span>
                                </del>
                                <ins>
                                    <span class="amount">Rs.{{ product.dis_price|floatformat:0 }}</span>
                                </ins>
                            </div>
                        {% else %}
                            <h4>Rs.{{ product.price|floatformat:0 }}</h4>
                        {% endif %}
                    </div>
                    <a href="{% url 'product-detail' product.slug %}" type="button" class="btn btn-primary buy-btn">View
                        More</a>
                </div>
            {% endfor %}

        </div>

        {% for category in categoryData %}
            {% if category.slug == 'clothing' %}
                <a href="{% url 'category' category.slug %}">
                    <p class="bottom-btn">View more</p>
                </a>
            {% endif %}
        {% endfor %}


    </section>

    <section id="products" class="my-5 pb-5">
        <div class="container text-center  py-5">
            <h2>Amazing Sneakers</h2>
        </div>
        <div class="row mx-auto  container-fluid">
            {% for product in shoeData|slice:":8" %} {#display only 8 products#}
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    {% if product.discount > 0 %}
                        <div class="sale-top">
                            Sale
                        </div>
                    {% endif %}
                    {# show if image is present #}
                    {% if product.image %}
                        <img onclick="window.location.href='{% url 'product-detail' product.slug %}';"
                             class="img-fluid mb-3 pro-img" src="{{ product.image.url }}" alt="">
                    {% endif %}
                    <div onclick="window.location.href='{% url 'product-detail' product.slug %}';" class="desc">
                        <h5>{{ product.name }}</h5>
                        <div class="star">
                            {{ product.avg_rating }} <i class="fas fa-star"></i> | ({{ product.total_review }})
                        </div>
                        {% if product.discount > 0 %}
                            <div class="style-1 mt-2">
                                <del>
                                    <span class="amount">Rs.{{ product.price|floatformat:0 }}</span>
                                </del>
                                <ins>
                                    <span class="amount">Rs.{{ product.dis_price|floatformat:0 }}</span>
                                </ins>
                            </div>
                        {% else %}
                            <h4>Rs.{{ product.price|floatformat:0 }}</h4>
                        {% endif %}
                    </div>
                    <a href="{% url 'product-detail' product.slug %}" type="button" class="btn btn-primary buy-btn">View
                        More</a>
                </div>
            {% endfor %}

        </div>

        {% for category in categoryData %}
            {% if category.slug == 'shoes' %}
                <a href="{% url 'category' category.slug %}">
                    <p class="bottom-btn">View more</p>
                </a>
            {% endif %}
        {% endfor %}


    </section>

{% endblock %}