{% extends 'main/main.html' %}
{% block content %}

    <section id="products" class="my-5 py-5">
        <div class="container text-center mt-5 py-5">
            <div class="row">
                <div class="col-md-12">
                    <h1>Password Rest page</h1>
                </div>
                <div class="col-md-12">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="password" name="password" class="form-control mb-3" required>
                        <input type="password" name="confirm_password" class="form-control mb-3" required>
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </form>
                    <hr>
                </div>
            </div>

        </div>


    </section>

{% endblock %}