{% extends 'main/main.html' %}
{% block content %}
    <section class="container sproduct my-5 pt-5">
        <div class="container text-left mt-5 py-3">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success mt-2">
                        {{ message }}

                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="row mt-5">
            <div class="col-lg-5 col-md-12 col-12">
                {#checking if product has image#}
                {% if productData.image %}
                    <img class="img-fluid w-100 " src="{{ productData.image.url }}" alt="">
                {% endif %}
                <div class="small-img-group">
                    {#extracting images from product image model#}
                    {% for proSmimage in productData.productimage_set.all %}
                        <div class="small-img-col">
                            {#checking if product has multiple images#}
                            {% if proSmimage.image %}
                                <img class="small-img" width="100%" src="{{ proSmimage.image.url }}" alt="">
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-12">
                <h3 class="py-4">{{ productData.name }} </h3>
                <div class="star d-flex flex-row mt-2 mb-4">
                    <h3>4.5</h3>  <i class="fas fa-star ml-1 mt-1 mr-2"></i>
                    <h3>(45)</h3>
                </div>
                <h2>Rs.{{ productData.price }} </h2>
                <form action="{% url 'add-to-cart' productData.id %}" method="post">
                    {% csrf_token %}
                    <select class="size" name="variant" required>
                        <option value="">Select Size</option>

                        {% for vs in productData.productvariant_set.all %}
                            <option value={{ vs.id }}>{{ vs.size.name }}</option>
                        {% endfor %}

                    </select>
                    <input type="number" name="quantity" value="1" min="1">
                    <button class="btn btn-primary buy-btn">Add to Cart</button>
                </form>
                <h4 class="mt-5 mb-4">Product Detail</h4>
                <span>{{ productData.description }}
                </span>
            </div>

        </div>


    </section>

    <section class="recent-comment">
        <div class="container ">
            <div class="row">
                <div class="col-md-12">

                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Recent Review</h4>
                        </div>

                        <div class="comments m-b-20">

                            <div class="d-flex flex-row comment-row">
                                <div class="p-3 ml-2 mr-2">
                                    <span>
                                        <div class="star d-flex flex-row">
                                            4.5 <i class="fas fa-star ml-2 mt-1"></i>
                                        </div>
                                    </span>
                                </div>
                                <div class="comment-text w-100">
                                    <h5>Samso Nagaro</h5>
                                    <div class="comment-footer">
                                        <span class="date">April 14, 2019</span>

                                    </div>
                                    <p class="m-b-5 m-t-10">Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                                        ever since the 1500s, when an unknown printer took a galley of type and
                                        scrambled it</p>
                                    <hr>
                                </div>
                            </div>

                            <div class="d-flex flex-row comment-row">
                                <div class="p-3 ml-2 mr-2">
                                    <span>
                                        <div class="star d-flex flex-row">
                                            4.5 <i class="fas fa-star ml-2 mt-1"></i>
                                        </div>
                                    </span>
                                </div>
                                <div class="comment-text w-100">
                                    <h5>Samso Nagaro</h5>
                                    <div class="comment-footer">
                                        <span class="date">April 14, 2019</span>

                                    </div>
                                    <p class="m-b-5 m-t-10">Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                                        ever since the 1500s, when an unknown printer took a galley of type and
                                        scrambled it</p>
                                    <hr>
                                </div>
                            </div>

                            <div class="d-flex flex-row comment-row">
                                <div class="p-3 ml-2 mr-2">
                                    <span>
                                        <div class="star d-flex flex-row">
                                            4.5 <i class="fas fa-star ml-2 mt-1"></i>
                                        </div>
                                    </span>
                                </div>
                                <div class="comment-text w-100">
                                    <h5>Samso Nagaro</h5>
                                    <div class="comment-footer">
                                        <span class="date">April 14, 2019</span>

                                    </div>
                                    <p class="m-b-5 m-t-10">Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                                        ever since the 1500s, when an unknown printer took a galley of type and
                                        scrambled it</p>
                                    <hr>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="add-comment">

        <div class="row mx-auto container-fluid">

            <div class="col-12">

                <div class="comment-box ml-2 mb-3">

                    <h4>Publish Review</h4>

                    <div class="rating mt-2 mb-2">
                        <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                        <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                        <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                        <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                        <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                    </div>

                    <div class="comment-area">

                        <textarea class="form-control" placeholder="what is your view?" rows="8"></textarea>

                    </div>

                    <div class="comment-btns mt-2">
                        <div class="pull-right mb-3">

                            <button class="btn  send btn-sm mt-3">Post <i class="fa fa-long-arrow-right ml-1"></i>
                            </button>

                        </div>


                    </div>


                </div>

            </div>

        </div>


    </section>

    <section id="products" class="my-5 pb-5">
        <div class="container text-center  py-5">
            <h4 class="text-left">Similar Products</h4>
        </div>
        <div class="row mx-auto  container-fluid">

            <div class="product text-center col-lg-3 col-md-4 col-12">
                <img class="img-fluid mb-3 pro-img" src="img/products/f1.jpg" alt="">
                <div class="desc">
                    <h5>Printed Shirt</h5>
                    <h4>Rs.5000</h4>
                    <button type="button" class="btn btn-primary buy-btn">Add to Cart</button>
                </div>
            </div>

            <div class="product text-center col-lg-3 col-md-4 col-12">
                <img class="img-fluid mb-3 pro-img" src="img/products/f1.jpg" alt="">
                <div class="desc">
                    <h5>Printed Shirt</h5>
                    <h4>Rs.5000</h4>
                    <button type="button" class="btn btn-primary buy-btn">Add to Cart</button>
                </div>
            </div>

            <div class="product text-center col-lg-3 col-md-4 col-12">
                <img class="img-fluid mb-3 pro-img" src="img/products/f1.jpg" alt="">
                <div class="desc">
                    <h5>Printed Shirt</h5>
                    <h4>Rs.5000</h4>
                    <button type="button" class="btn btn-primary buy-btn">Add to Cart</button>
                </div>
            </div>

            <div class="product text-center col-lg-3 col-md-4 col-12">
                <img class="img-fluid mb-3 pro-img" src="img/products/f1.jpg" alt="">
                <div class="desc">
                    <h5>Printed Shirt</h5>
                    <h4>Rs.5000</h4>
                    <button type="button" class="btn btn-primary buy-btn">Add to Cart</button>
                </div>
            </div>

        </div>

    </section>

{% endblock %}