{% extends 'main/main.html' %}
{% block content %}
    <section id="products" class="my-5 py-5">
        <div class="container text-center mt-5 py-5">
            <h2>SHOP</h2>
        </div>

        <div style="border-top: var(--border)" class="row mt-2  mx-auto  container-fluid">
        </div>

        <div class=" row mb-3 mx-auto  container-fluid">
            <div class="col mt-3 mb-5 mx-auto  container-fluid">
                <div class="row mt-3 mb-5 mx-auto  container-fluid">
                    <h3 class="mr-3 mt-1">Filter by:</h3>
                    <h3>
                        <select class="size mr-5" onchange="location = this.value;">
                            {#                           <option value="{% url 'shop' %}?sort=-id" {% if not sortOrder %}selected{% endif %}>Default</option>#}
                            {#                            {% for link in filterLinks %}#}
                            {#                                <option value="{{ link.1 }}"#}
                            {#                                        {% if link.1 == request.get_full_path %}selected{% endif %}>{{ link.0 }}</option>#}
                            {#                            {% endfor %}#}
                            {% for link in filterLinks %}
                                <option value="{{ link.1 }}"
                                        {% if link.1 == request.get_full_path %}selected{% endif %}>{{ link.0 }}</option>
                            {% endfor %}
                        </select>
                    </h3>
                </div>

            </div>


        </div>


        <div class="row mx-auto  container-fluid">


            {% for products in productData %}
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    {% if products.image %}
                        <a href="{% url 'product-detail' products.slug %}">
                            <img class="img-fluid mb-3 pro-img" src="{{ products.image.url }}" alt="">
                        </a>
                    {% endif %}
                    <div class="desc">
                        <h5>{{ products.name }}</h5>
                        <div class="star">
                            4.5 <i class="fas fa-star"></i> | (39)
                        </div>
                        <h4>Rs.{{ products.price }}</h4>
                        <a href="{% url 'product-detail' products.slug %}" type="button"
                           class="btn btn-primary buy-btn">View More</a>
                    </div>
                </div>
            {% endfor %}


        </div>


        <nav aria-label="..." class="d-flex justify-content-center">
            <ul class="pagination pagination-lg">
                {# checking if previous page is present #}
                {% if productData.has_previous %}
                    <li class="page-item ">
                        {#                        <a class="page-link" href="?page={{ productData.previous_page_number }}"#}
                        {#                           tabindex="-1">Previous</a>#}
                        <a class="page-link" href="?sort={{ sortOrder }}&page={{ productData.previous_page_number }}"
                           tabindex="-1">Previous</a>
                    </li>
                {% endif %}

                {# creating loop to iterate over number of pages #}
                {% for page_number in productData.paginator.page_range %} {# page_range tot pages [1,2,3] #}
                    {# finding the current page#}
                    {% if productData.number == page_number %}
                        <li class="page-item active">
                            <a class="page-link" href="#">{{ page_number }}</a>
                        </li>
                    {% else %}
                        <li class="page-item ">
                            {#                            <a class="page-link" href="?page={{ page_number }}">{{ page_number }} </a>#}
                            <a class="page-link"
                               href="?sort={{ sortOrder }}&page={{ page_number }}">{{ page_number }} </a>
                        </li>

                    {% endif %}
                {% endfor %}

                {# checking if next page is present #}
                {% if productData.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?sort={{ sortOrder }}&page={{ productData.next_page_number }}"
                           tabindex="+1">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>


    </section>

{% endblock %}