<!-- Sidebar -->
<aside id="sidebar">
    <div class="sidebar-title">
        <div class="brand-name">
            <p>Admin Panel</p>
        </div>
        <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
    </div>

    <ul class="sidebar-list">

        <li class="sidebar-list-item" onclick="window.location.href='{% url 'admin-panel' %}';">
            <span class="material-icons-outlined">dashboard</span> Dashboard
        </li>


        <li class="sidebar-list-item" onclick="window.location.href='{% url 'add-product' %}';">
                    <span class="material-icons-outlined">
                        store
                        </span> Products
        </li>

        <li class="sidebar-list-item" onclick="window.location.href='{% url 'admin-user-list' %}';">
                    <span class="material-icons-outlined">
                        person
                        </span> User
        </li>


        <li class="sidebar-list-item" onclick="window.location.href='{% url 'admin-product-list' %}';">
                    <span class="material-icons-outlined">
                        list_alt
                        </span> List Products
        </li>


        <li class="sidebar-list-item" onclick="window.location.href='{% url 'admin-order-list' %}';">
                    <span class="material-icons-outlined">
                        shopping_cart
                        </span> Orders
        </li>


        <li class="sidebar-list-item" onclick="window.location.href='{% url 'admin-email' %}';">
                    <span class="material-icons-outlined">
                        email
                        </span> Send Mail
        </li>


    </ul>
</aside>
<!-- End Sidebar -->
