{% load static %}
<section class="footer">

    <div class="box-container">


        <div class="box">
            <h3>Contact info</h3>
            <a href="#" class="links"> <i class="fas fa-phone"></i> +01-43252566 </a>
            <a href="#" class="links"> <i class="fas fa-phone"></i> +977-98021020202 </a>
            <a href="#" class="links"> <i class="fas fa-envelope"></i> dineshmaharjan@gmail.com </a>
            <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> Kathmandu, Nepal </a>
        </div>

        <div class="box">
            <h3>Quick links</h3>
            <a href="{% url 'index' %}" class="links"> <i class="fas fa-arrow-right"></i> Home </a>
            <a href="{% url 'shop' %}" class="links"> <i class="fas fa-arrow-right"></i> Shop </a>
            <a href="{% url 'new-arrivals' %}" class="links"> <i class="fas fa-arrow-right"></i> Latest Arrivals </a>
            <a href="{% url 'offer' %}" class="links"> <i class="fas fa-arrow-right"></i> Offers </a>
        </div>

        <div class="box">
            <h3>Newsletter</h3>
            <p>Subscribe for latest updates</p>
            <input type="email" placeholder="your email" class="email">
            <input type="submit" value="subscribe" class="btn">
        </div>

    </div>

    <div class="credit"> Increasing your <span> Adrenaline </span> | Since day one</div>


</section>

<!-- footer section ends -->

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>


</body>
</html>